{% extends "layout.html" %}
{% block body %}
  <img src = "{{image}}" >
  <ul class=entries>
  {% for k in entries %}
  {% if session.logged_in %}
   <hr>
   <div>
   {{k[0]}}
     {% for tweet in k[1]%}
       <div>
           {{tweet.content}}
           {{tweet.lat}}
         {% if tweet.image != "" %}
         <img src="{{tweet.image}}" />
         {% endif %}
         {% if tweet.lat != "" %}
         <a href="https://maps.google.com/maps?q={{tweet.lat}},{{tweet.lng}}">地図情報</a>
         {% endif %}
         <br>
       </div>
     {% endfor %}
   </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endif %}
  {% endfor %}
  </ul>
{% endblock %}